.header {
    display: flex;
    align-items:center;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #A9BBAC 100%);
 /* https://redketchup.io/color-picker #B1C5B5 */ 

    
}
 
.header .logo{ 
    max-height: 65px;
    margin: 10px 20px 0 0px;

}

.header .a{
    
    display:flex;
    align-items: center;
    text-decoration: none;
    margin:0 0 0 -10px;
}

.header .material-icons{
    color: white;
    padding: 10px -20px 0 20px;
    margin: 10px 0 0 -10px;
     position: relative;
      top: 5px;
      left: 5px;
}

a{
    color: white;
   
}

.header .title-group i{
    padding-right:10px;
    margin: 0px 0 0 30px;
}
