.footer{
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    color: #6E776F;
    font-size: 15px;
}

i{
    position: relative;
      top: 5px;
      left: 5px;
      margin: -10px 10px 1px 1px;
      max-height: 20px;
}

.footer > span {
    font-size : 1 rem
}